
/* body, */
 /*  h1 {padding-top: 6rem;}
  h2,
  h3,
  p {
    margin: 0;
  } */

  /* -- NOTE: Layouts specific to certain pages. Here to get text further down page: */
  .home {padding-top: 6rem;}
  .testimonial {padding-top: 6rem;}
  .contact  {padding-top: 6rem;}
  .containContactForm {overflow: hidden; width: 100%;}

  .pricing {padding-top: 6rem;}


.topLinks-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-neutral-900-with-opacity);
}

.topLinksLogo {
  width: 100%;
  display: flex;
  /* position: absolute; */
  justify-content: center;
  align-items: center;
}

.socials-sub-container-whatsapp {
  order: 4;
  width: 20%;
}

.menu-btn {
  display: block;
}

.topLinksLeft {
  display: none;
}

/* -- NOTE: Display the menu in the correct section of the html */
.nav-section-above800px {
  display: none;
}

.main-nav-flex-container {
  display: block;
}

.below800pxnavlinks {
  top: 2.5rem;
  left: -2rem;
  opacity: 0;
  transition: opacity 1s ease;
  display: flex;
  padding-left: 2rem;
}

nav {
  position: relative;
  background-color: var(--clr-neutral-900-with-opacity);

}

.logo {
  display: none;
}

.video-container {
  display: none;
}

.banner {
  display: none;
}

.menu-btn {
  display: block;
}

.main-nav-flex-container {
  display: block;
}