/* Import external stylesheets */
@import './defaults.css';
@import './below800px.css';
@import './simpleMenu.css';

/* Color variables */
:root {
  --clr-primary-200: #fff5d0;
  --clr-primary-300: #ebe7d9;
  --clr-primary-400: #ba3521;
  --clr-primary-400-half-opacity: rgba(186, 53, 33, 0.8);
  --clr-neutral-100: #fff;
  --clr-neutral-900: #0f222d;
  --clr-neutral-900-with-opacity: rgba(15, 34, 45, 0.8);
}

/* Global styles */
a {
  color: #0f46ad9f;
  text-decoration: none;
  font-weight: normal;
}

li {
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

li.active, li.active a {
  color: #0017eb;
}

img.philImage {
  max-width: 100%;
  padding: 1rem;
}

/* Header & Navigation */
header {
  flex-direction: row;
  position: fixed;
  z-index: 3;
  width: 100%;
}

nav ul {
  padding: 0;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

nav li {
  margin: 0 1em 1em 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--clr-primary-400);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* Hamburger Menu */
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2em;
  display: flex;
  align-items: center;
  background-color: blue;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 120px;
  width: 120em;
  border-radius: 12px;
  position: relative;
}

.nav-toggle-label span::before {
  bottom: 17px;
  content: '';
  position: absolute;
}

.nav-toggle-label span::after {
  top: 17px;
  content: '';
  position: absolute;
}

/* Socials */
.socials-main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: large;
  z-index: 2;
}

.socials-sub-container {
  width: 30%;
  padding: 0.5rem;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.socials-sub-container:hover {
  transform: scale(1.1);
}

.socials-sub-container-whatsapp {
  order: 4;
  width: 10%;
}

.socials-sub-container-whatsapp:hover {
  background-color: #2ed66d;
  color: white;
  border-radius: 70%;
  position: relative;
}

/* Indicator styles */
.indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 20px; /* Ensure it's positioned on the right side */
}

.indicator.green {
  background-color: green;
}

.indicator.red {
  background-color: red;
}


/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Spinner */
.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  animation: spin 1s ease-in-out infinite;

  /* Centering */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Containers */
.funds-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.funds-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.accounts-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.accounts-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}


.address-text, .balance-text {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}


.info-button {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.address-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
  background: #f4f4f4;
  padding: 0.5rem;
  border-radius: 4px;
}

.address-label {
  font-family: inherit; /* Keeps original font */
  font-weight: bold; /* Optionally make it stand out */
}

.address-value {
  font-family: monospace; /* Makes address easier to read */
}


/* Connection status indicator */
.connection-status {
  position: fixed;
  top: 5px;
  right: 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: var(--clr-neutral-900-with-opacity);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 100;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-dot.green {
  background-color: green;
}

.status-dot.red {
  background-color: red;
}

.connection-status-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the right */
}

.dashboard-panel {
  margin-top: 40px;
  width: 250px; /* 4 times longer than the connection status */
  height: 120px; /* Twice as high as the connection status */
  background-color: var(--clr-neutral-900-with-opacity);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; /* Allow wrapping of sections */
}

.dashboard-section {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
  flex: 1 1 25%; /* Allow sections to take up 25% of the width */
  text-align: center;
  font-size: 50%; /* Reduce text size by 50% */
}